body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../images/natural_paper/natural_paper.png");
    background-repeat: repeat;
}

.brand-logo {
    display: none!important;
}

main {
    flex: 1 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
}

header h3 {
    margin: 0;
}

.contact-div {
    margin: 16px 0 0!important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contact-div h3 {
    margin: 0;
}

.contact-info {
    margin: 0!important;
    display: flex;
    justify-content: space-around;
}

.contact-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 4px 4px 8px;
}

.headshot-card {
    background-image: url("../images/headshot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.headshot {
    width: 80px;
}

.bio {
    font-size: 12px;
    color: #000000;
    margin: 0;
    padding: 0 8px;
}

p:first-child {
    margin-top: 0;
}

.row {
    margin: 0 0 12px;
}

@media only screen and (max-width: 340px) {}

@media only screen and (min-width: 416) {
    .bio {
        margin: 0 32px;
    }
    .contact-div {
        margin-bottom: 16px!important;
    }
}

@media only screen and (min-width: 640px) {
    .bio {
        font-size: 24px;
    }
}

@media only screen and (min-width: 993px) {
    .brand-logo {
        margin-left: 32px!important;
    }
    .right {
        margin-right: 32px!important;
    }
    .container {
        margin-top: 16px;
        flex-direction: row;
        justify-content: flex-start!important;
    }
    .contact-div {
        padding-top: 16px;
        margin-right: 16px;
        width: 260px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start!important;
    }
    .contact-div h3 {
        margin: 8px 0;
        white-space: nowrap;
    }
    .contact-info {
        padding: 8px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .headshot-card {
        width: 250px;
        height: 250px;
    }
    .headshot {
        width: 250px;
    }
    .bio {
        margin: 0;
        padding: 16px;
        font-size: 24px;
    }
}