body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 320px;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
}

.carousel-item img {
    width: 304px!important;
    /* margin: 0 16px; */
}

.carocontainer {
    margin: 0;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size: 12px!important;
    padding: 8px;
    margin: 0;
}

.headshot-card {
    position: fixed;
    z-index: 100;
    top: 4px;
    left: 4px;
    background-image: url("../images/headshot.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.headshot {
    width: 80px;
}

@media only screen and (max-width: 340px) {
    .brand-logo {
        font-size: 24px!important;
    }
}

@media only screen and (min-width: 416) {
    .carousel-item img {
        width: 400!important;
    }
}

@media only screen and (min-width: 640px) {
    .carousel-item img {
        width: 600px!important;
    }
}

@media only screen and (min-width: 993px) {
    .brand-logo {
        margin-left: 32px;
    }
}