body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    min-width: 320px;
}

.brand-logo {
    display: none;
}

.name {
    display: none!important;
}

.carousel-item {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    padding-top: 10%!important;
}

.carousel-item img {
    width: 304px!important;
    /* margin: 0 16px; */
}

.carocontainer {
    margin: 0;
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.description {
    font-size: 12px!important;
    padding: 8px;
    margin: 0;
}

.githublinks {
    padding: 0 16px;
}

.githublinks:last-child {
    border-left: 1px solid;
}

@media only screen and (max-width: 340px) {
    .brand-logo {
        font-size: 24px!important;
    }
}

@media only screen and (min-width: 416) {
    .carousel-item {
        padding-top: 0!important;
    }
    .carousel-item img {
        width: 400!important;
    }
}

@media only screen and (min-width: 640px) {
    .carousel-item {
        padding-top: 0!important;
    }
    .carousel-item img {
        width: 600px!important;
    }
}

@media only screen and (min-width: 993px) {
    .name {
        display: block!important;
        margin-left: 32px!important;
    }
    .right {
        margin-right: 32px!important;
    }
    .brand-logo {
        display: block;
    }
    .description {
        font-size: 16px!important;
        padding: 8px;
        margin: 0 20%;
    }
    .carousel-item {
        padding-top: 0!important;
    }
    .carousel-item h2 {
        margin: 16px 0 8px;
    }
}