* {
    border: solid 1px lightblue;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    -webkit-flex: 1 0 auto;
}

.project-row {
    width: 951px;
    height: 596px;
    margin-top: 80px;
    /* flex-direction: column;
    justify-content: center;
    align-content: flex-end; */
}